<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<table id="products">
    <thead>
    <tr>
        <th>mã</th>
        <th>tên</th>
        <th>giá</th>
        <th>mô tả</th>
        <th>nhà sản xuất</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row , loop: ${productResult}">
        <td th:text="${row.ma}"></td>
        <td th:text="${row.ten}"></td>
        <td th:text="${row.gia}"></td>
        <td th:text="${row.mota}"></td>
        <td th:text="${row.nhaSanXuat}"></td>



    </tr>
    </tbody>
</table>
</body>
</html>