<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<img id="img-of-the-day">

</body>

<script>
    let query =  "https://api.nasa.gov/planetary/apod?api_key=rGwibZ6L9DQvcRWX0e9RhRqdf5uE2bBn7IpCKf7Q";
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function() {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();
</script>
</html>