<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<img id="img-of-the-day">

<div>
    <form method="post" th:action="@{/comment}" th:object="${comment}">
        <div>
            <label>Rating</label>
            <select th:field="*{rating}">
                <option th:value="1">1</option>
                <option th:value="2">2</option>
                <option th:value="3">3</option>
                <option th:value="4">4</option>
                <option th:value="5">5</option>
            </select>
        </div>
        <br>
        <div>
            <label>Author</label>
            <input type="text" th:field="*{author}">
        </div>
        <br>
        <div>
            <label>Feed Back</label>
            <input type="text" th:field="*{feedBack}">
        </div>

        <br>

        <div>
            <button>Comment</button>
        </div>
    </form>
</div>

<div>
    <table>
        <tr th:each="comment,rowstat : ${commentList}">
            <td>
                <br>
                <br>

                <div style="margin: auto;">
                    <label style="color: gold">Author : </label>
                    <span th:text="${comment.author}"></span>
                    <br>
                    <br>
                    <label style="color: gold">Feed Back :</label>
                    <span th:text="${comment.feedBack}"></span>

                    <br>
                    <br>
                </div>
            </td>
        </tr>
    </table>
</div>


</body>

<script>
    let query =  "https://api.nasa.gov/planetary/apod?api_key=rGwibZ6L9DQvcRWX0e9RhRqdf5uE2bBn7IpCKf7Q";
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function() {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();
</script>
</html>