<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<form action="/student/create" th:object="${studentDto}" method="post">
    <table border="1">
        <tr>
            <th> Name</th>
            <td><input type="text" th:field="*{nameStudent}"></td>
            <td style="color: red" th:errors="*{nameStudent}"></td>
        </tr>
        <tr>
            <th>Age</th>
            <td><input type="text" th:field="*{age}"></td>
            <td style="color: red" th:errors="*{age}"></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><input type="text" th:field="*{email}"></td>
            <td style="color: red" th:errors="*{email}"></td>
        </tr>
        <tr>
            <th>Name Class </th>
            <td>
                <select  th:field="*{classDto}">
                <option th:each="row,rowStat : ${classStudentList}"
                        th:text="${row.nameClass}" th:value="${row.idClass}" >
                </option>
            </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add User"></td>
        </tr>
    </table>
</form>
</html>