<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<form th:object="${userDto}" method="post">
    <table border="1">
        <tr>
            <th>First Name</th>
            <td><input type="text" th:field="*{firstName}"></td>
            <td style="color: red" th:errors="*{firstName}"></td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td><input type="text" th:field="*{lastName}"></td>
            <td style="color: red" th:errors="*{lastName}"></td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td><input type="text" th:field="*{phone}"></td>
            <td style="color: red" th:errors="*{phone}"></td>
        </tr>
        <tr>
            <th>Age</th>
            <td><input type="text" th:field="*{age}"></td>
            <td style="color: red" th:errors="*{age}"></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><input type="text" th:field="*{email}"></td>
            <td style="color: red" th:errors="*{email}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add User"></td>
        </tr>
    </table>
</form>
</html>