<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>

<body>
<h1>Contract List</h1>
<br>
<div class="btn-group">
    <a href="contracts/create" class="btn btn-primary active" aria-current="page">Add New Contract</a>
    <a href="contractDetails" class="btn btn-danger active" aria-current="page">Contract detail</a>
</div>
<table class="table table-striped">
    <tr>
        <th scope="col">id Contract</th>
        <th scope="col"> start Date</th>
        <th scope="col"> end Date</th>
        <th scope="col">deposit</th>
        <th scope="col">total Money</th>
        <th scope="col">employee</th>
        <th scope="col">customer</th>
        <th scope="col">services</th>

    </tr>
    <tr th:each="contract : ${contractPage}">
        <td class="table-primary">
            <a th:href="@{contracts/__${contract.idContract}__/view}" th:text="${contract.idContract}"></a>
        </td>
        <td class="table-primary"th:text="${contract.startDate}"></td>
        <td class="table-primary"th:text="${contract.endDate}"></td>
        <td class="table-primary"th:text="${contract.deposit}"></td>
        <td class="table-primary"th:text="${contract.totalMoney}"></td>
        <td class="table-primary"th:text="${contract.employee.nameEmployee}"></td>
        <td class="table-primary"th:text="${contract.customer.nameCustomer}"></td>
        <td class="table-primary"th:text="${contract.services.nameServices}"></td>



    </tr>
</table>
<div>
    <a th:if="${contractPage.hasPrevious()}" th:href="@{/contracts(page=${contractPage.number - 1})}">previous</a>
    <span th:text="${contractPage.number + 1}"></span> |
    <span th:text="${contractPage.totalPages}"></span>
    <a th:if="${contractPage.hasNext()}" th:href="@{/contracts(page=${contractPage.number + 1})}">Next</a>
</div>

<a class="btn btn-primary" href="/furama">Back To Home</a>

</body>
<div class="notify">
    <div th:if="${SOS}">
        <span th:text="${SOS}"></span>
    </div>
</div>


<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>